body {
	padding-top: 70px;
	background-color: #cdc1c5;
}

.navbar-default {
	background-color: #cdc0b0;
	border: none;
}

.w3-bar {
	background-color: #cdc0b0;
}

.container {
	padding-left: 20%;
	padding-right: 20%;
}

.nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.nav-item { 
	display: inline-block;
}

.w3-button:hover {
	color: white!important;
	background-color: #eedfcc!important;
}

input[type="text"] {
	width: 100%;
}

.opera-img {
	width: 100%;
	opacity: 0.8;
}

.opera-img {
	opacity: 1;
}

.undecorated-link {
	text-decoration: none;
	color: #777;
}

.undecorated-link:hover {
	text-decoration: none;
	color: #5e5e5e;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #cdc0b0;
	border: none;
}