<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8"/>
		<meta name = "viewport" content = "width = device-width, initial-scale = 1"/>
		<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel = "stylesheet" href = "css/galleria.css"/>
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
		<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
		<script src = "js/galleria.js"> </script>
		<title> Contatti </title>
	</head>
	<body>
		<nav class = "navbar navbar-default">
			<div th:include = "index :: nav-content"></div>
		</nav>
		<div class = "container-fluid">
			<div class = "row">
				<div class = "col-md-2"></div>
				<div class = "col-md-4">
					<img alt = "marco-peroni.jpg" src = "img/marco-peroni.jpg" style = "width: 100%;"/>
				</div>
				<div class = "col-md-4">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit,
					sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					Excepteur sint occaecat cupidatat non proident,
					sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
				<div class = "col-md-2"></div>
			</div>
			<div class = "row">
				<div class = "col-md-2"></div>
				<div class = "col-md-4">
					<img alt = "matteo-petruzziello.jpg" src = "img/matteo-petruzziello.jpg" style = "width: 100%;"/>
				</div>
				<div class = "col-md-4">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit,
					sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					Excepteur sint occaecat cupidatat non proident,
					sunt in culpa qui officia deserunt mollit anim id est laborum CAZZO.
				</div>
				<div class = "col-md-2"></div>
			</div>
			<div class = "row">
				<div class = "col-md-2"></div>
				<div class = "col-md-8">
					<img alt = "matteo-marco.jpg" src = "img/matteo-marco.jpg" style = "width: 100%;"/>
				</div>
				<div class = "col-md-2"></div>
			</div>
			<div class = "row">
				<div class = "col-md-2"></div>
				<div class = "col-md-8">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit,
					sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					Excepteur sint occaecat cupidatat non proident,
					sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
				<div class = "col-md-2"></div>
			</div>
		</div>
		<footer>
			<div th:include = "index :: footer-content"></div>
		</footer>
	</body>
</html>