<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8"/>
		<meta name = "viewport" content = "width = device-width, initial-scale = 1"/>
		<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel = "stylesheet" href = "css/galleria.css"/>
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
		<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
		<script src = "js/galleria.js"> </script>
		<title> Contatti </title>
	</head>
	<body>
		<nav class = "navbar navbar-default">
			<div th:include = "fragments :: nav-content"></div>
		</nav>
		<div class = "container-fluid">
			<div class = "row">
				<div class = "col-md-2"></div>
				<div class = "col-md-4">
					<img alt = "marco-peroni.jpg" src = "img/marco-peroni.jpg" style = "width: 100%;"/>
				</div>
				<div class = "col-md-4">
					<h1> Marco Peroni </h1>
					Si è occupato della scrittura dello strato di presentazione.
					<ul style = "font-size: large; list-style: none;">
						<li> Contatti: </li>
						<li>
							Facebook
							<a class = "undecorated-link" href = "https://www.facebook.com/QuelBelPargolo"> <i class = "fa fa-facebook-square"></i> </a>
						</li>
						<li>
							Github
							<a class = "undecorated-link" href = "https://github.com/Pargolo"> <i class = "fa fa-github-square"></i> </a>
						</li>
					</ul>
				</div>
				<div class = "col-md-2"></div>
			</div>
			<div class = "row">
				<div class = "col-md-2"></div>
				<div class = "col-md-4">
					<img alt = "matteo-petruzziello.jpg" src = "img/matteo-petruzziello.jpg" style = "width: 100%;"/>
				</div>
				<div class = "col-md-4">
					<h1> Matteo Petruzziello </h1>
					Si è occupato della scrittura dello strato logico e persistente del sito.
					<ul style = "font-size: large; list-style: none;">
						<li> Contatti: </li>
						<li>
							Facebook
							<a class = "undecorated-link" href = "https://www.facebook.com/matteo.petruzziello"> <i class = "fa fa-facebook-square"></i> </a>
						</li>
						<li>
							Github
							<a class = "undecorated-link" href = "https://github.com/petruz93"> <i class = "fa fa-github-square"></i> </a>
						</li>
					</ul>									
				</div>
				<div class = "col-md-2"></div>
			</div>
			<div class = "row">
				<div class = "col-md-2"></div>
				<div class = "col-md-8">
					<img alt = "matteo-marco.jpg" src = "img/matteo-marco.jpg" style = "width: 100%;"/>
				</div>
				<div class = "col-md-2"></div>
			</div>
			<div class = "row">
				<div class = "col-md-2"></div>
				<div class = "col-md-8">
					Entrambi gli sviluppatori hanno avuto parte attiva sull'analisi e progettazione di tutto il sito web
					in ogni suo strato, scegliendo una divisione di responsabilità nella sua scrittura per garantirne una
					costruzione comoda ed efficiente (il più possibile). L'esperienza è stata tanto stressante quanto
					gratificante.
				</div>
				<div class = "col-md-2"></div>
			</div>
			<div class = "row">
				<div class = "col-md-2"></div>
				<div class = "col-md-8">
					<footer>
						<div th:include = "fragments :: footer-content"></div>
					</footer>
				</div>
				<div class = "col-md-2"></div>
			</div>
		</div>
	</body>
</html>