<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8"/>
		<meta name = "viewport" content = "width = device-width, initial-scale = 1"/>
		<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel = "stylesheet" href = "css/galleria.css"/>
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
		<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
		<script src = "js/galleria.js"> </script>
		<title> Home Galleria </title>
	</head>
	<body>
		<nav class = "navbar navbar-default">
			<div th:include = "fragments :: nav-content"></div>
		</nav>
		<div class = "container-fluid">
			<div class = "row">
				<div class = "col-md-2"></div>
					<div class = "jumbotron col-md-8" style = "text-align: center;">
						<h1> Galleria </h1>
					</div>
				<div class = "col-md-2"></div>
			</div>
			<div class = "row">
				<div class = "col-md-2"></div>
				<div class = "col-md-8">
					<footer>
						<div th:include = "fragments :: footer-content"></div>
					</footer>
				</div>
				<div class = "col-md-2"></div>
			</div>
		</div>
	</body>
</html>