<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8"/>
		<meta name = "viewport" content = "width = device-width, initial-scale = 1"/>
		<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel = "stylesheet" href = "css/galleria.css"/>
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
		<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
		<script src = "js/galleria.js"> </script>
		<title> Informazioni autore </title>
	</head>
	<body>
		<nav class = "navbar navbar-default navbar-fixed-top">
			<div th:include = "index :: nav-content"></div>
		</nav>
		<div class = "container-fluid">
			<div class = "col-md-2"></div>
			<div class = "col-md-8">
				<div class = "container-fluid">
					<div class = "row">
						<div class = "col-md-5">
							<img src = "img/informazione-sconosciuta.jpg" alt = "Immagine sconosciuta" style = "width: 100%;"/>
						</div>
						<div class = "col-md-1"></div>
						<div class = "col-md-6">
							<h2 th:text = "|${autore.nome} ${autore.cognome}|" style = "text-align: center;"></h2>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
							Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							Excepteur sint occaecat cupidatat non proident,
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</div>
					</div>
					<div class = "row" th:if = "${not #lists.isEmpty(autore.opere)}">
						<div class = "thumbnail col-md-3" th:each = "opera : ${autore.opere}">
							<p th:text = "|${opera.titolo} (${opera.autore.nome} ${opera.autore.cognome})|" style = "text-align: center;"></p>
							<a class = "undecorated-link" th:href = "@{/showOpera(id = ${opera.id})}">
								<img src = "img/informazione-sconosciuta.jpg" alt = "Immagine sconosciuta" style = "width: auto;"/>
							</a>
							<div class = "caption">
								<form action = "#" th:action = "@{/admin/removeOpera}" method = "post">
									<input type = "hidden" name = "id" th:value = "${opera.id}"/>
									<input class = "form-control" type = "submit" name = "comando" value = "cancella"/>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class = "col-md-2"></div>
		</div>
		<footer>
			<div th:include = "index :: footer-content"></div>
		</footer>
	</body>
</html>