<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head>
		<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8"/>
		<meta name = "viewport" content = "width = device-width, initial-scale = 1"/>
		<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel = "stylesheet" href = "css/galleria.css"/>
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
		<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
		<script src = "js/galleria.js"> </script>
		<title> Informazioni stanza </title>
	</head>
	<body>
		<nav class = "navbar navbar-default navbar-fixed-top">
			<div th:include = "index :: nav-content"></div>
		</nav>
		<div class = "container-fluid">
			<div class = "col-md-2"></div>
			<div class = "col-md-8">
				<h2 th:text = "${stanza.nome}" style = "text-align: center;"></h2>
				<p th:text = "${stanza.descrizione}"></p>
				<div class = "container-fluid" th:if = "${not #lists.isEmpty(stanza.opere)}">
					<div class = "row">
						<div class = "thumbnail col-md-3" th:each = "opera : ${stanza.opere}">
							<p th:text = "|${opera.titolo} (${opera.autore.nome} ${opera.autore.cognome})|" style = "text-align: center;"></p>
							<a class = "undecorated-link" th:href = "@{/showOpera(id = ${opera.id})}">
								<img src = "img/informazione-sconosciuta.jpg" alt = "Immagine sconosciuta" style = "width: auto;"/>
							</a>
							<div class = "caption">
								<form action = "#" th:action = "@{/admin/removeOpera}" method = "post">
									<input type = "hidden" name = "id" th:value = "${opera.id}"/>
									<input class = "form-control" type = "submit" name = "comando" value = "cancella"/>
								</form>
								<form action = "#" th:action = "@{/admin/updateStanza}" method = "post">
									<input type = "hidden" name = "opera_id" th:value = "${opera.id}"/>
									<input type = "hidden" name = "stanza_src" th:value = "${stanza.id}"/>
									<label for = "elenco-stanze"> Nuova stanza </label>
									<select class = "form-control" id = "elenco-stanze" name = "stanza_dest">
										<option th:each = "stanzaDisponibile : ${stanze}" th:text = "${stanzaDisponibile.nome}" th:value = "${stanzaDisponibile.id}"></option>
									</select>
									<input class = "form-control" type = "submit" name = "comando" value = "sposta"/>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class = "col-md-2"></div>
		</div>
		<footer>
			<div th:include = "index :: footer-content"></div>
		</footer>
	</body>
</html>