<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8"/>
		<meta name = "viewport" content = "width = device-width, initial-scale = 1"/>
		<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel = "stylesheet" href = "css/galleria.css"/>
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
		<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
		<script src = "js/galleria.js"> </script>
		<title> Elenco opere </title>
	</head>
	<body>
		<nav class = "navbar navbar-default">
			<div th:include = "fragments :: nav-content"></div>
		</nav>
		<div class = "container-fluid">
			<div class = "row">
				<div class = "col-md-2"></div>
				<div class = "col-md-8" th:if = "${not #lists.isEmpty(opere)}">
					<table>
						<tr th:each = "opera : ${opere}">
							<td sec:authorize = "hasRole('ROLE_ADMIN')">
								<form action = "#" th:action = "@{/admin/removeOpera}" method = "post">
									<input type = "hidden" name = "id" th:value = "${opera.id}"/>
									<input class = "form-control" type = "submit" name = "comando" value = "cancella"/>
								</form>
							</td>
							<td sec:authorize = "hasRole('ROLE_ADMIN')">
								<form action = "#" th:action = "@{/admin/updateOpera}" method = "get">
									<input type = "hidden" name = "id" th:value = "${opera.id}"/>
									<input class = "form-control" type = "submit" name = "comando" value = "modifica"/>
								</form>
							</td>
							<td>
								<a class = "undecorated-link" th:href = "@{/showOpera(id = ${opera.id})}" th:text =  "|${opera.titolo} (${opera.autore.nome} ${opera.autore.cognome})|"></a>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class = "col-md-2"></div>
			<div class = "row">
				<div class = "col-md-2"></div>
				<div class = "col-md-8">
					<footer>
						<div th:include = "fragments :: footer-content"></div>
					</footer>
				</div>
				<div class = "col-md-2"></div>
			</div>
		</div>
	</body>
</html>