<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8"/>
		<meta name = "viewport" content = "width = device-width, initial-scale = 1"/>
		<link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
		<link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
		<link rel = "stylesheet" href = "css/galleria.css"/>
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
		<script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> </script>
		<script src = "js/galleria.js"> </script>
		<title> Elenco stanze </title>
	</head>
	<body>
		<nav class = "navbar navbar-default">
			<div th:include = "index :: nav-content"></div>
		</nav>
		<div class = "container-fluid">
			<div class = "col-md-2"></div>
			<div class = "col-md-4" th:if = "${not #lists.isEmpty(stanze)}">
				<table>
					<tr th:each = "stanza : ${stanze}">
						<td sec:authorize = "hasRole('ROLE_ADMIN')">
							<form action = "#" th:action = "@{/admin/removeStanza}" method = "post">
								<input type = "hidden" name = "id" th:value = "${stanza.id}"/>
								<input class = "form-control" type = "submit" name = "comando" value = "cancella"/>
							</form>
						</td>
						<td sec:authorize = "hasRole('ROLE_ADMIN')">
							<form action = "#" th:action = "@{/admin/updateStanza}" method = "get">
								<input type = "hidden" name = "id" th:value = "${stanza.id}"/>
								<input class = "form-control" type = "submit" name = "comando" value = "modifica"/>
							</form>
						</td>
						<td>
							<a class = "undecorated-link" th:href = "@{/showStanza(id = ${stanza.id})}" th:text = "${stanza.nome}"></a>
						</td>
					</tr>
				</table>
			</div>
			<div class = "col-md-6"></div>
		</div>
		<footer>
			<div th:include = "index :: footer-content"></div>
		</footer>
	</body>
</html>